.banner-principal-decorativo
  &-1
    bottom: 0%
    right: 13%
  &-2
    bottom: 0%
    right: 55%
  &-3
    top: 0%
    right: 20%
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  max-width: 480px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption, table caption
  font-weight: normal
.barra-avance__boton--regresar span
  color: $white !important
 

.banner-interno__fondo
  background-image: url('../assets/curso/portada/mini-portada.png') !important
.fa-lista
  li
    display: flex !important
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: #12263F
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important

.bg1
  background-color: #ECF6FC
.bg2
  background-color: #FFE6C3 !important
.bg3
  background-color: #275470
.bg4
  background-color: #E9F2E5
.bg5
  background-color: #FEFAEC
.bg6
  background-color: #B8DCF3
.bg7
  background-color: #DBEDF9
.bg8
  background-color: #FEF6D9
.bg9
  background-color: #FEFAEB
.bg10
  background-color: #F3F9FF
.bg11
  background-color: #DEE4F0

.bgg-1
  background: #F3E6CB
  background: linear-gradient(166deg,rgba(243, 230, 203, 1) 0%, rgba(243, 230, 203, 1) 60%, rgba(218, 185, 149, 1) 100%)

.bgc-1
  background-image: url('../assets/curso/temas/t2/bgc-1.png')
  background-position: bottom
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgs-1
  background-image: url('../assets/curso/temas/t1/bg-slider.png')
  background-position: bottom
  border-radius: 30px
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 


.w-90px
  width: 90px

.subt
  display: flex
  align-items: center
  position: relative
  width: fit-content
  img
    width: 60px
  &::after
    content: ''
    position: absolute
    background-color: $color-acento-contenido
    border-radius: 200px
    width: 100%
    height: 70%
    top: 10px
    z-index: 0
  h3, img
    color: #FFF
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-sm)
    &::after
      height: 93%
      top: 2px
  @media (max-width: $bp-max-xs)
    &::after
      height: 98%
      top: 0px
.subt2
  background-color: #37840F
  width: fit-content
  padding: 5px 20px 2px 20px
  margin: 0 auto
  h3, h4
    color: #FFF
.subt3
  background-color: #37840F
  width: fit-content
  padding: 3px 20px 2px 20px
  h3, h4
    color: #FFF
.subt4
  background-color: #275470
  width: fit-content
  padding: 3px 20px 2px 20px
  h3, h4
    color: #FFF
.lista-ul--color.color-2 li > i:first-of-type  
  color: #7E5F35
.lista-ul--color.color-3 li > i:first-of-type  
  color: #275470
.img-neg
  position: relative
  img
    position: absolute
    left: -12%
    top: 50%;
    transform: translateY(-50%)
.deco
  background-color: #4FAAE3
  width: 46px
  height: 10px
.deco2
  background-color: #37840F
  width: 46px
  height: 10px
.deco3
  background-color: #7E6A21
  width: 46px
  height: 10px

.tarjeta-boton2
  background-color: #FFE6C3
  border-radius: 23px
  transition: all 0.3s ease-out
  &:hover
    background-color: #B8DCF3
    transition: all 0.3s ease-out
    h4
      background-color: #37840F
  h4
    background-color: #7E6A21
    width: fit-content
    color: #FFF
    padding: 3px 20px
    margin: 0 auto
    margin-bottom: 15px


.circl-arrow .slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $white
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
.slyder-a
  &__btn--sigt, &__btn--atrs
    background-color: #006EEF 
    opacity: 0.9
  &__bullets__item
    background-color: #B9D4AB
    border-color: #B9D4AB
    &--active
      background-color: #37840F
      border-color: #37840F
.tabla-a 
  th
    background-color: #FEF6D9